.modalContainer {
  background: #fff;
  padding: 32px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 16px;
}

.infoBox {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 16px;
  font-size: 1rem;
}

.logoContainer {
  width: 56px;
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.cardLogo {
  object-fit: contain;
}

.infoBox img {
  background: none !important;
  width: 32px;
  height: 32px;
  margin-right: 12px;
}

.icon {
  font-size: 2rem;
  margin-right: 12px;
}

.divider {
  border: none;
  border-top: 1px solid #eee;
  margin: 24px 0;
}

.section {
  margin-bottom: 16px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 4px;
}

.instant {
  color: #888;
  font-size: 0.95rem;
  margin-bottom: 12px;
  display: block;
}

.greenText {
  color: #00a650;
  font-weight: 500;
  margin: 12px 0 16px 0;
}

.banksGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
}

.bankItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 140px;
  min-width: 110px;
  position: relative;
}

.bankLogo {
  font-weight: 600;
  margin-bottom: 4px;
}

.cuotas {
  color: #00a650;
  font-size: 1.25rem;
  margin-top: 10px;
}

.orText {
  margin: 18px 0 10px 0;
  color: #888;
  font-size: 1rem;
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 130px;
  max-height: 100px;
  position: relative;
}

.cardLogo {
  font-weight: 600;
  margin-bottom: 4px;
}

@media (max-width: 900px) {
  .modalContainer {
    max-width: 100vw;
    min-height: 100dvh;
    border-radius: 0;
    padding: 20px;
  }

  .cardItem {
    max-width: 100px;
    min-width: 80px;
  }
}
