.tag {
    display: inline-block;
    background: #ff823b;
    color: #fff;
    border-radius: 2px;
    padding: 3px 4px;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.2s;
}